body, h1, h2, p, ul, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid white; 
    width: 100%; 
}

header img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    text-align: center;
    padding: 50px 20px;
}

section h1 {
    color: #000;
}

section p {
    color: #555;
}

#home .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#home .image-container img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: 0 10px;
    max-width: 100%; 
    height: auto;
}


footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    header img {
        width: 80%;
    }

    nav li {
        display: block;
        margin-bottom: 10px;
    }

    #home .image-container {
        flex-direction: column;
    }

    #home .image-container img {
        width: 80%; 
    }
}
